@use "../../base/vars" as *;

.faq {
  &__section {
    padding: 6.25rem 0;

    &--header {
      margin-bottom: 5.625rem;

      @media screen and (max-width: $breakpoint__s) {
        margin-bottom: 2.8125rem;
      }
    }

    @media screen and (max-width: $breakpoint__m) {
      padding: 3.125rem 0 5rem;
    }

    @media screen and (max-width: $breakpoint__m) {
      padding: 2.1875rem 0 1.5625rem;
    }
  }

  &__accordion {
    margin: 0 0 1.875rem;
    position: relative;
    padding: 1.5rem;
    background-color: $color-lightGreen;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0.3125rem;
      height: 100%;
      background-color: $color-darkGreen;
    }

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--content {
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    &.active {
      .faq__accordion--content {
        height: auto;
        padding: 0.5rem 0;
      }

      .fa-arrow-down {
        transition: all 0.3s ease;
        transform: rotate(180deg);
      }
    }
  }
}

.bx-arrow-down-stroke {
  font-size: 2rem;
  transition: all 0.2s ease;
}
