@use "../../base/vars" as *;

.footer {
  padding: 100px 0 50px;
  background-color: $color-darkBlue;
  color: $color-white;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &--socials {
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
  }

  &__logo {
    p {
      margin-top: 20px;
      max-width: 215px;
    }
  }

  &__author {
    text-align: center;
    margin-top: 60px;
  }
}

.footer__nav {
  ul {
    display: flex;
    column-gap: 25px;
  }

  &--item {
    a {
      color: $color-white;
      position: relative;
      transition: font-weight 0.1s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.625rem;
        height: 0.125rem;
        width: 100%;
        background-color: $color-white;
        transform: scaleX(0);
        transition: all 0.5s ease;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.fa-brands {
  color: $color-white;
}
