@use "../../base/vars" as *;

.footer {
  padding: 100px 0 50px;
  background-color: $color-darkBlue;
  color: $color-white;

  @media screen and (max-width: $breakpoint__ml) {
    padding: 50px 0 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: $breakpoint__s) {
      flex-direction: column;
      row-gap: 30px;
    }

    @media screen and (max-width: $breakpoint__ms) {
      justify-content: space-between;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @media screen and (max-width: $breakpoint__s) {
      align-items: center;
    }

    &--socials {
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
  }

  &__logo {
    p {
      margin-top: 20px;
      max-width: 215px;
    }
  }

  &__author {
    text-align: center;
    margin-top: 60px;

    @media screen and (max-width: $breakpoint__ml) {
      margin-top: 45px;
    }

    @media screen and (max-width: $breakpoint__s) {
      margin-top: 30px;
    }
  }
}

.footer__nav {
  ul {
    display: flex;
    column-gap: 25px;
  }

  &--item {
    a {
      color: $color-white;
      position: relative;
      transition: font-weight 0.1s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.625rem;
        height: 0.125rem;
        width: 100%;
        background-color: $color-white;
        transform: scaleX(0);
        transition: all 0.5s ease;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.fa-brands {
  color: $color-white;
  font-size: clamp(1.25rem, 1.145rem + 0.39vw, 1.5rem);
}
