@use "../../base/vars" as *;
@use "../../base/buttons";

.service__section {
  position: relative;
  z-index: 1;
  font-weight: 400;
  padding: 130px 0;
  background-color: $color-lightGreen;

  @media screen and (max-width: $breakpoint__ml) {
    padding: 80px 0 110px;
  }

  @media screen and (max-width: $breakpoint__m) {
    padding: 80px 0 60px;
  }

  @media screen and (max-width: $breakpoint__s) {
    padding-top: 60px;
  }
}

.service__section--img {
  position: relative;

  @media screen and (max-width: $breakpoint__s) {
    width: 75%;
  }

  &::after {
    position: absolute;
    left: 0px;
    top: 8px;
    content: "";
    z-index: -1;
    width: 145px;
    height: 337px;
    background-image: url("../assets/hero_section/hero-photo-bg.png");

    @media screen and (max-width: $breakpoint__ml) {
      height: 100px;
    }
  }

  img {
    border-radius: 214px 0 219px 216px;
  }
}

.service__section--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $breakpoint__xxl) {
    justify-content: space-around;
  }

  @media screen and (max-width: $breakpoint__l) {
    justify-content: space-between;
    column-gap: 50px;
  }

  @media screen and (max-width: $breakpoint__ml) {
    column-gap: 35px;
  }

  @media screen and (max-width: $breakpoint__m) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.service__section--info {
  max-width: 630px;

  @media screen and (max-width: $breakpoint__xxl) {
    max-width: 500px;
  }

  @media screen and (max-width: $breakpoint__xl) {
    max-width: 440px;
  }

  @media screen and (max-width: $breakpoint__l) {
    max-width: 390px;
  }

  @media screen and (max-width: $breakpoint__m) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin-top: 60px;
  }
}

.service__info--heading {
  p {
    margin: 20px 0;
  }

  @media screen and (max-width: $breakpoint__m) {
    text-align: center;
  }
}

.service__info--checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  margin-bottom: 44px;

  p {
    position: relative;
    margin-left: 23px;

    &::before {
      content: "";
      position: absolute;
      left: -25px;
      top: 5px;
      background-image: url("../assets/service_section/checkbox.svg");
      width: 17px;
      aspect-ratio: 1;
    }
  }
}
