@use "../../base/vars" as *;
@use "../../base/buttons";

.appointment__section {
  padding: 100px 0;
  background-color: $color-lightGreen;

  @media screen and (max-width: $breakpoint__s) {
    padding: 50px 0;
  }
}

.appointment__section--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;

  @media screen and (max-width: $breakpoint__mm) {
    text-align: center;
  }
}
