@use "../base/vars" as *;

.btn {
  border: $btn-border;
  border-radius: $btn-radius;
  color: $color-darkGreen;
  padding: $btn-padding;
  font-size: clamp(0.813rem, 0.734rem + 0.3vw, 1rem);
  max-width: 100%;
  width: 157px;

  &:hover {
    transition: all 0.3s ease;
  }
}

.header__contact--btn,
.service__section--btn {
  &:hover {
    color: $color-white;
    background-color: $color-darkGreen;
  }
}

.hero__btn {
  background-color: $color-darkGreen;
  color: $color-white;

  &:hover {
    color: $color-darkGreen;
    background-color: $color-white;
  }
}
