@use "../../base/vars" as *;

.section__contact {
  padding: 3.75rem 0 6.25rem;
}

.section__address {
  padding: 6.25rem 0;
  background-color: $color-lightGreen;

  @media screen and (max-width: $breakpoint__ms) {
    padding: 3.75rem 0;
  }

  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5.625rem;

    @media screen and (max-width: $breakpoint__l) {
      column-gap: 4.375rem;
    }

    @media screen and (max-width: $breakpoint__ml) {
      column-gap: 2.5rem;
    }

    @media screen and (max-width: $breakpoint__ms) {
      flex-wrap: wrap;
      row-gap: 1.875rem;
    }
  }

  &--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    width: 25.3125rem;
    height: 14.0625rem;
    box-shadow: 0 0.625rem 1.5625rem 0 rgba(0, 0, 51, 0.08);
    background-color: $color-white;

    @media screen and (max-width: $breakpoint__l) {
      width: 21.25rem;
    }

    @media screen and (max-width: $breakpoint__ms) {
      width: 26.875rem;
    }
  }

  &--info {
    max-width: 13.75rem;
    margin-top: 1.5625rem;
    color: $color-headings;
    font-weight: 400;
  }

  &--email,
  &--tel,
  &--location {
    position: relative;
  }

  &--email {
    margin-bottom: 1.25rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1.875rem;
      width: 1.5rem;
      aspect-ratio: 1;
      background-image: url("../assets/contacts_section/email.svg");
    }
  }

  &--tel {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1.875rem;
      width: 1.5rem;
      aspect-ratio: 1;
      background-image: url("../assets/contacts_section/call.svg");
    }
  }

  &--location {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1.875rem;
      width: 1.5rem;
      aspect-ratio: 1;
      background-image: url("../assets/contacts_section/room.svg");
    }
  }
}
