@use "../../base/vars" as *;
@use "../../base/buttons";

.section__contact {
  padding-bottom: 100px;
  text-align: center;

  &--title {
    max-width: 488px;
    margin-bottom: 70px;

    p {
      margin-top: 15px;
    }
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--form {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 510px;
    max-width: 100%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 51, 0.08);
    background-color: $color-white;
    border-radius: 20px;
    padding: 40px 20px;

    input {
      background-color: $color-gray;
      border-radius: 17px;
      padding: 6px 13px;
      width: 100%;
      height: 52px;

      &::placeholder {
        font-size: clamp(0.75rem, 0.724rem + 0.1vw, 0.813rem);
        line-height: 1.71429;
        font-weight: 200;
        color: #6b7280;
      }
    }
  }
}

.form__message {
  background-color: $color-gray;
  border-radius: 17px;
  width: 100%;
  height: 210px;
  padding: 15px 13px 6px 13px;
  resize: none;

  &::placeholder {
    font-size: clamp(0.75rem, 0.724rem + 0.1vw, 0.813rem);
    line-height: 1.71429;
    font-weight: 200;
    color: #6b7280;
  }

  &:focus-visible {
    outline: none;
  }
}
